<% include partials/header.ejs %>
<h1>
	This is the secret page!
</h1>
<div>
	<%userData.forEach(function(user){%>
		<div>
			First Name: <%=user.first_name%> <br>
			Last Name : <%=user.last_name%>
			UTR: <%=user.UTR%>
		</div>
	<% })%>
</div>
<% include partials/footer.ejs %>